<!DOCTYPE html>
<html>
<head>
    <title>cannasos</title>
    <base href='/'/>
    <!-- build:css app.css -->
    <link rel="stylesheet" href=".tmp/app.css">
    <!-- endbuild -->
</head>
<body data-ng-app='cannasos' data-ng-controller="AppCtrl">
<h1>Cannasos</h1>

<div>sample styles for body added to show that less compiled correctly</div>

<button data-ng-click="clearLocalCache()">Clear local cache</button>
<p class="warning">Loading at first time can take decent time. Please wait.</p>

<div data-ng-view></div>
<!-- build:js app.js -->
<script src='bower_components/angular/angular.js'></script>
<script src='bower_components/angular-route/angular-route.js'></script>
<script src='app.js'></script>
<!-- endbuild -->
</body>
</html>