<dl></dl>
    <dt>Advice title</dt>
    <dd>{{advice.title}}</dd>
    <dt>Strain title</dt>
    <dd>{{strains[advice.strain._id].title || '-'}}</dd>
    <dt>Strain category</dt>
    <dd>{{strainCategories[strains[advice.strain._id].category._id].title || '-'}}</dd>