<table>
    <tr>
        <th>advice title</th>
        <th>strain title</th>
        <th>strain category title</th>
    </tr>
    <tr data-ng-repeat='advice in advices'>
        <td>
            <a data-ng-href='/{{advice._id}}'>{{advice.title}}</a>
        </td>
        <td>{{strains[advice.strain._id].title || '-'}}</td>
        <td>{{strainCategories[strains[advice.strain._id].category._id].title || '-'}}</td>
    </tr>
</table>